body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(242, 243, 245);
}


html {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
#app{
  width: 100vw;
  height: 100vh;
}


label {
  font-weight: 700;
}